doctype html
html
    head
            title Start with CodeTap your Journey to a Coder
            meta(
                http-equiv="refresh" 
                content="0; url=https://www.youtube.com/channel/UCr9aPqQ9u4RFLG46FcYP4iw/playlists?flow=grid&view=1&sort=da"
            )
            meta(
                property="og:image" 
                content="http://codetap.io/asset/image/facebook-cover-tall.png"
            )
    body
        img(src="/asset/image/facebook-cover-tall.png", alt="Over 100 FREE step by step lessons of projects started from scratch for beginners")

        include ../_component/ga/ga
