doctype html
html
    head
            title Sute de lectii Profesionale structurate in cursuri pas cu pas pentru incepatori
            meta(
                http-equiv="refresh" 
                content="3; url=https://zoom.us/webinar/register/WN_CIzgaSBMSLeK9z9V43p-Ow"
            )
            meta(
                property="og:image" 
                content="http://codetap.academy/asset/image/facebook-cover-tall.png"
            )
    body
        img(src="/asset/image/facebook-cover-tall.png", alt="Over 100 FREE step by step lessons of projects started from scratch for beginners")
        include ../_component/ga/ga
