doctype html
html
    head
            title Cum a ajutat CodeTap elevii săi să se angajeze cât mai repede
            meta(
                http-equiv="refresh" 
                content="0; url=https://zoom.us/webinar/register/WN_FByy7Ac8SXShQe7Yprr1dQ"
            )
            meta(
                property="og:image" 
                content="http://codetap.io/asset/image/facebook-cover-tall.png"
            )
    body
        img(src="/asset/image/facebook-cover-tall.png", alt="Over 100 FREE step by step lessons of projects started from scratch for beginners")
