doctype html
html
    head
            title CodeTap Group on Facebook - Helping you land a top paid job
            meta(
                http-equiv="refresh" 
                content="2; url=https://facebook.com/groups/codetap"
            )
            meta(
                property="og:image" 
                content="http://codetap.academy/asset/image/facebook-cover-tall.png"
            )
    body(
        style="background: url(/asset/image/join-codetap-group-on-facebook.jpg); background-size: cover"
    )
        include ../../_component/ga/ga
